/*--------body--------*/
body {
    /*background: url("/image/stripe_b.png") repeat scroll 0 0 transparent;*/
    font-family: "Trebuchet MS",sans-serif;
    font-size: 30px;
}

/*--------right side of registration and authorisation--------*/
#right {
    color: #333333;
    font-size: 12px;
    margin-top: -80px;
    text-align: left;
}
#right a {
    color: #005580;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
#right span {
    color: #333333;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#right .little {
    font-size: 10px;
}

/*--------used for form--------*/
#form {
    background-image: url("/image/vert_line.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 18px;
    padding-top: 18px;
}
/*--------use for all span--------*/
#form span{
    color: #333333;
    font-size: 13px;
}

/*--------login--------*/
#login {
    position: fixed;
    top: 10%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #F9F9F9 url(css/images/ui-bg_highlight-hard_100_f9f9f9_1x100.png) 50% top repeat-x;
    color: #222;
}
#login input {
    border: 1px solid #fff;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    width: 250px;
    margin-bottom: 15px;
    position: relative;
    border-color: #DDD;
}

#login label {
    color: #C84663;
    font-size: 12px;
    font-style: italic;
    left: 443px;
    margin-top: 20px;
    position: absolute;
    right: 720px;
}
#login img {
    position: absolute;
    right: -26px;
    top: -17px;
}
#login .button {
    background-color: #C84663;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    width: 100px;
}
#login td {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #333333;
    text-align: center;
}
#login b {
    color:#C84663;
}

/*--------registration--------*/
#auth {
    position: fixed;
    top: 10%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CCC;
    background: #F9F9F9 url(css/images/ui-bg_highlight-hard_100_f9f9f9_1x100.png) 50% top repeat-x;
    color: #222;
}
#auth b {
    color:#C84663;
}
#auth input {
    border: 1px solid #fff;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    width: 250px;
    margin-bottom: 15px;
    border-color: #DDD;
    /*  position: relative;*/
}

#auth label {
    color: #C84663;
    font-size: 12px;
    font-style: italic;
    left: 395px;
    margin-top: 20px;
    position: fixed;
    right: 720px;
}
#auth img {
    position: absolute;
    right: -115px;
    top: -17px;
}
#auth .button {
    background-color: #C84663;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    width: 100px;
}
#auth td {
    position: relative;
    text-align: center;
}

/*--------use for left menu table--------*/
#table{
    height: 100%;
    /* width: 100%;*/
}
/*--------use for td in table--------*/
#content {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url("/image/stripe_b.png") repeat scroll 0 0 transparent;
    left: 280px;
    position: absolute;
    -webkit-border-radius: 5px 5px 5px 5px;
    z-index: 1001;
}
/*--------use for right side of table--------*/

#content table {
    font-size: 12px;
    border: medium none;
}
#content table tr{
    background-color: #74998C;
}
#content table tr:nth-child(odd){
    background-color: #80997C;
}
#content table tr:first-child{
    background: none;
}
#content table tr:last-child{
    background-color: #C84663;
}
#content table td{
    border: 1px solid #002F32;
}
#content table tr:first-child td{
    position: relative;
    color:white;
    padding: 0 5px;
    text-align: center;
    /* background-color: #002F32;*/
    border: 1px solid #FFFFFF;
}
#content table tr:first-child td:first-child{
    padding: 0;
}
#content table input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-left: 1px;
    opacity: 0;
    z-index: 2;
}
#content table tr:hover td{
    background:#C84663; 

}
table tr:hover td{
    /*  background: #D9EDF7;
      color: #3A87AD;*/
}
#content table tr:first-child:hover	{
    background:none; 
}

/*--------use for td in table--------*/
.left_menu {
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    position: fixed;
    width: 200px;
    height: 96%;
    border: 1px solid #FFFFFF;
    color: #FFF;
    /*background-color: #002F32;*/
}

/*--------use for left menu table for link--------*/
.left_menu table tr td:hover	{
    background-color:grey; 
}
.left_menu table {
    width: 100%;
    font-size:12px;
}

/*--------use for database name on the left menu--------*/
.database_title {
    background: none repeat scroll 0 0 #C84663;
    text-align: center;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
/*--------use for all links--------*/
a:link, a:visited {
    text-decoration: none;

}

/*--------use for checked by checkbox td--------*/
.check td{
    background:#4B5657; 
    color:#fff;
}

/*--------use for buttons--------*/
.menu_button {
    left: 216px;
    position: fixed;
    border: 1px solid #FFFFFF;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-color: #002F32;
}
.second {
    top: 110px;
}
.first {
    left: 216px;
}
.left {
    left: 10px;
}

/*--------use for navigation when we hide--------*/
#nav {
    position: fixed;
    top: 40%;
}
#nav input{
    background: url("/image/nav.png") repeat scroll 0 0 transparent;
    height: 35px;
    width: 30px;
    border:none;
}
#nav input:hover{
    background: url("/image/nav1.png") repeat scroll 0 0 transparent;
    height: 35px;
    width: 30px;
    border:none;
}

.nav_right {
    left: 245px;
}
.nav_left {
    left: 50px;
}

/*--------use for icons-buttons--------*/
.icon {
    background-image: url("/image/icons.png");
    background-repeat: no-repeat; 
    width: 16px;
    height: 16px;
    cursor:pointer;
}
.search {
    background-position: -160px -112px;
}
.reload {
    background-position: -64px -80px;
}
.help {
    background-position: -48px -146px;
}
.exit {
    background-position: 0px -177px;
}
.home {
    background-position: 0px -114px;
}
.add {
    background-position: -16px -129px;
}
.add_j {
    background-position: -19px -129px;
}
.edit {
    background-position: -64px -112px;
}
.delete {
    background-position: -177px -97px;
}
.save {
    background-position: -97px -112px;
}
.save_j {
    background-position: -94px -112px;
}
.table {
    background-position: -113px -112px;
}
.table_j {
    background-position: -110px -112px;
}
.checkbox {
    background-position: -113px -144px;
    z-index: 1;
}
.checkbox:hover {
    background-position: -97px -144px;
    z-index: 1;
}
.checked {
    background-position: -80px -144px;
}
.checkbox_all {
    background-position: -112px -144px;
    z-index: 1;
}
.checkbox_all:hover {
    background-position: -96px -144px;
    z-index: 1;
}
.checked {
    background-position: -79px -144px;
}
#ajax-loadings{
    opacity: .30;
    background: #333;
    width: 100%;
    height: 100%;
    position: fixed;
}
#ajax-loading-left img{
    position: fixed;
    left: 18%;
    z-index: 2;
    top: 30%;
}
#ajax-loading-right img{
    position: fixed;
    left: 62%;
    z-index: 2;
    top: 30%;
}